@import './variables.scss';

//dark theme
.dark {
	background-color: $backgroundDark;
}

.dark-module{
	background-color: $modulesDark;
	border-color: $borderDark !important;
}

.dark-font{
	color: $fontDark;
}

.dark-module span, 
.dark-module p,
.dark-module label{
	color: $fontDark;
}

//light theme
.light {
	background-color: $backgroundLight;
}

.light-module{
	background-color: $modulesLight;
	border-color: $borderLight !important;
}

.light-font{
	color: $fontLight;
}

.light-module span, 
.light-module p,
.light-module label{
	color: $fontLight;
}