@import '../../../sass/variables.scss';

$navbarHeight: 3rem;

.Navbar-navbar {
    max-height: $navbarHeight;
    min-height: $navbarHeight;
    margin-bottom: .5rem;
    border-radius: 0px;
    border-bottom: 1px solid;
}

.Navbar-navbar a:focus,
.Navbar-navbar a:hover {
    color: $linkHoverColor;
    outline: none;
    text-decoration: none;
}

.Navbar-brand {
    font-size: 2rem;
}

.Navbar-container {
    padding-left: 4rem;
    padding-right: 4rem;
}

.Navbar-text {
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: $navbarHeight;
}

.Navbar-right {
    float: right;
}

.Navbar-left {
    float: left;
}
