@import '../../../sass/variables.scss';

.Subreddit-row {
	margin-left: 0;
	margin-right: 0;
}

.Subreddit-columns {
	padding-right: 2rem;
	padding-left: 2rem;
}

.Subreddit-row a:visited{
	color: $linkVisitedColor;
}
