@import '../../../sass/variables.scss';

.Comments-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
}

.Comments-comment {
    border-top: none;
    border-left: solid;
    border-bottom: none;
    border-width: 2px;
    border-radius: $borderRadius;
    padding-bottom: .3rem;
    padding-top: .5rem;
}

.Comments-comment + .Comments-comment{
    margin-top: 0.5rem;
}

.Comments-score{
    font-weight: 400;
}

.Comments-timestamp{
    font-size: 12px;
}

//reverse link colors for special links
.Comments-comment a{
    color: $linkHoverColor !important;
}

.Comments-comment a:hover{
    color: $linkColor !important;
}