@import '../../../sass/variables.scss';

.Comments-row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
    padding-top: .3rem;
}

.Comments-comment .Comments-comment {
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-width: 1px;
    border-radius: $borderRadius;
    padding-right: 0;
    padding-bottom: .3rem;
    margin-bottom: .2rem;
}